.mobileTitle {
  display: none;
}

/* TODO: вынести брекпоинты в конфиг */
/* @media (max-width: 850px) { */
  .mobileTitle {
    display: block;
    color: #8a8a8a;
  }

  .emptyRow {
    display: none !important;
  }
/* } */

.status {
  align-self: flex-start;
  padding: 3px 5px;
  margin-left: -5px;
  margin-top: 2px;
  /* background-color: #07ab07; */
  border: 1px solid #ccc;
  border-radius: 9px;
}
