.title {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 18px;
}

.openButton.openButton {
  margin-right: 0;
}

.label {
  margin-right: 10px;
  margin-bottom: 5px;
  display: inline-block;
}

.footer {
  display: flex;
  justify-content: space-between;
}