.portal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1000;
}

.portal :global(.Select-menu-outer) {
  position: fixed !important;
  top: 36px !important;
  bottom: 0 !important;
  max-height: none !important;
}

.portal :global(.Select-menu-outer) :global(.Select-menu) {
  height: 100% !important;
  max-height: none !important;
}

.portal :global(.Select-control) {
  background: transparent !important;
  border-radius: 0;
}

.portal :global(.Select-placeholder) {
  padding-left: 35px;
}

.portal :global(.Select-input) {
  padding-left: 35px;
}

.portal :global(.Select-value) {
  padding-left: 35px !important;
}

.button {
  width: 100%;
  padding: 18px 35px 5px 10px;
  border-radius: 4px;
  border: 1px solid #e1e6ef;
  background-color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: start;
}

.buttonBack {
  position: absolute;
  height: 37px;
  top: 0;
  width: 35px;
  background-color: transparent;
  border: none;
  z-index: 1000;
}

.wrapper {
  position: relative;
}

.label {
  position: absolute;
  top: 13px;
  left: 10px;
  right: 35px;
  color: #00000099;
  transition: font-size 200ms ease 0s, top 200ms ease 0s;
  pointer-events: none;
}

.labelActive {
  top: 2px;
  font-size: 12px;
}

.labelInvalide {
  color: #cc2522;
}