.tableWrapper {
  max-width: 1500px;
  margin: 0 auto;
}

.tableWrapper table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.bodyWrapper {
  height: calc(100vh - 200px);
  overflow-y: scroll;
}

.tableWrapper th,
.tableWrapper td {
  border: 1px solid #ccc;
  word-break: break-word;
}

.bodyWrapper tr:nth-child(even) {
  background-color: #f7f7f7;
}

.tableWrapper th:first-child,
.tableWrapper td:first-child {
  width: 30px;
}

/* @media (max-width: 850px) { */

  .container {
    margin-top: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .headerWrapper {
    display: none;
  }

  .tableWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .tableWrapper tr {
    border: 1px solid #ccc;
    background-color: #fff;
  }

  .tableWrapper tr:first-child {
    border-top: none;
  }

  .tableWrapper tr:last-child {
    border-bottom: none;
  }

  .tableWrapper td {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    border: none;
  }

  .tableWrapper td:first-child {
    width: 100%;
  }

  .bodyWrapper {
    flex: 1;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
  }

  .bodyWrapper table {
    height: 100%;
  }

  .addButton {
    position: absolute;
    bottom: 66px;
    right: 16px;
  }

  /* https://github.com/philipwalton/flexbugs/issues/236 */
  .addButtonInner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .withoutPagination {
    bottom: 16px;
  }
/* } */

/* thead {
  display: block;
}

tbody {
  display: block;
} */