.container {
  position: relative;
}

.textField {
  width: 100%;
  padding: 18px 35px 5px 10px;
  border-radius: 4px;
  border: 1px solid #e1e6ef;
}

.label {
  position: absolute;
  top: 13px;
  left: 10px;
  right: 35px;
  color: #00000099;
  transition: font-size 200ms ease 0s, top 200ms ease 0s;
  pointer-events: none;
}

.labelActive {
  top: 2px;
  font-size: 12px;
}

.labelInvalide {
  color: #cc2522;
}