.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
  height: 40px;
  background-color: #f8f8f8;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 13px -3px;
  border: 1px solid #e7e7e7;
  z-index: 100;
}

/* @media (max-width: 850px) { */
  .header {
    margin-bottom: 0;
  }
/* } */